/* form section styling*/
.get-started {
    padding-top: 6%;    
    background-image: url("../assets/learn-more-bg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.form-container {
    width: 50%;
    height: 75%;
    min-width: 500px;
    background-color: rgba(255, 255, 255, 0.733);
    backdrop-filter: blur(2px);
    border-radius: 20px;
   
}

/* Overlay Styling */
.overlay {
    background-color: rgba(0,0,0,0.7)
}